@import "tailwindcss";

@theme {
   --font-heading: "ABCRepro";
   --font-para: "Inter";
  --color-primary: #2c2e43;       /* nocturnal  */
  --color-secondary: #3b5465;     /* mediterra  */
  --color-accent: #cfdee1;        /* ocean fog  */
  --color-muted: #c3b6ac;         /* mushroom   */
  --color-warm: #9a8277;          /* potter's   */
  --color-linen: #f7f3e9;         /* white lin  */
}

