@import "tailwindcss";



@import "@fontsource/poppins"; 
@import "@fontsource/inter"; /*default 400 */


@theme {

  --font-heading: "Poppins" ,sans-serif;
  /*ABCReepro   {Poppins is at the Place of ABC Repro Font}*/
  --font-para: "Inter", sans-serif;
  /*Inter*/

  /* Font Size */
  --text-heading: 32px;
  --text-para: 18px;


  --color-primary-text: #575757;

  --color-primary: #586082;
  /* nocturnal  */
  --color-secondary: #3b5465;
  /* mediterra  */
  --color-accent: #9FBABA;
  /* ocean fog  */
  --color-mushroom: #D3B99E;
  /* mushroom   */
  --color-warm: #9a8277;
  /* potter's   */
  --color-linen: #f7f3e9;
  /* white lin  */



}



@layer utilities {
  .texture-noise {
    position: relative;
  }
  .texture-noise::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-radial-gradient(
      circle at random(100%) random(100%),
      rgba(255, 255, 255, 0.04) 0,
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px,
      transparent 100%
    );
    opacity: 0.3;
    pointer-events: none;
  }
}
