@import "tailwindcss";

@theme {
  --color-primary: #2c2e43,       /* nocturnal  */
  --color-secondary: #3b5465,     /* mediterra  */
  --color-accent: #a8c1c2,        /* ocean fog  */
  --color-muted: #c3b6ac,         /* mushroom   */
  --color-warm: #9a8277,          /* potter's   */
  --color-linen: #f7f3e9,         /* white lin  */
}

